// List Icons
// -------------------------

.#{$icon54com-css-prefix}-ul {
  padding-left: 0;
  margin-left: $icon54com-font-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$icon54com-css-prefix}-li {
  position: absolute;
  left: -$icon54com-font-li-width;
  width: $icon54com-font-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$icon54com-css-prefix}-lg {
    left: -$icon54com-font-li-width + (4em / 14);
  }
}
